.titlebar-button-container.mod-right {
    position: absolute;
    right: -117px; /* 将按钮移到屏幕外 */
    transition: right 0.2s;
}
.titlebar-button-container.mod-right:hover {
    right: 0; /* 鼠标悬停时恢复按钮位置 */
}
.workspace-tab-header-container {
    padding-right: 8px !important; /* 去除右上角的空白部分 */
}
.is-hidden-frameless:not(.is-fullscreen):not(.mod-macos) .workspace-tabs.mod-top-right-space .workspace-tab-header-container:after {
    z-index: -1; /* 解决位置占用问题 */
}
